.imageUpload {
    display: flex;
    flex-direction: column;
    width: 60%;
    /*center elements*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;

}

.imageUpload_progress{
    width: 100%;
}